doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Lionware Tribe | Acklen Avenue
    link(rel='shortcut icon' href='img/favicon.ico' type="image/x-icon")
    link(rel="stylesheet" href="styles/main.css")
    script(src="https://unpkg.com/scrollreveal")
  body
    != partial("_header")
    != yield
    != partial("_footer")
    script(src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
    script(type="text/javascript" src="js/index.js")